<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="keyencePartsVerifier.Properties.Settings.handHeldDBConnectionString"
            connectionString="Data Source=kpsprd;Initial Catalog=handHeldDB;User ID=sa;Password=saPRD2016cebu"
            providerName="System.Data.SqlClient" />
        <add name="CPDConnectionWORKGROUP" connectionString="Data Source=192.168.33.250;Persist Security Info=False;Password=sapcpcebu;User ID=sa;Initial Catalog=CPDBARCODE; App = CPD Barcode System"
            providerName="System.Data.SqlClient" />
        <add name="keyencePartsVerifier.Properties.Settings.dbPBCoreSolutionConnectionString"
            connectionString="Data Source=kpsprd;Initial Catalog=dbPBCoreSolution;Persist Security Info=True;User ID=sa;Password=saPRD2016cebu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
